<br><br>
<pre class="text-center">&copy; Ironhack</pre>
<pre class="text-center">Troubleshooters 2020</pre>
<hr class="socket" />
<footer>
  <img id="logo" src="/images/debugger.png" alt="logo" />
  <div class="text-center">
    <strong>Contact Info</strong>
    <p>
      (888) 888-8888
      <br />
      email@gmail.com
    </p>
    <a href="#" target="_blank">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="#" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" target="_blank">
      <i class="fab fa-twitter-square"></i>
    </a>
  </div>
</footer>