{{!-- ----------------- visible max-width: 899px--------------------------------------------- --}}

<!-- menu button, positioned absolute visible when max-width 899px-->
<a id="friend-list-btn" href="#" onclick="openSlideMenu()">
  <svg width="30" height="30">
    <path d="M0, 5 30, 5" stroke="#fff" stroke-width="5" />
    <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
    <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
  </svg>
</a>

{{!-- Start slide menu --}}
<div id="side-menu" class="side-nav">
  <a class="hidden-user" href="/profile/user-page">
    <img class="users-small" src="{{user.path}}" alt="{{user.imageName}}">
  </a>
  <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
  <hr class="socket">
  {{#if user}}
  <div class="main-menu">
    <div class="menu-context">
    </div>
    <form class="text-center" action="/auth/logout" method="POST">
      <button class="">Logout</button>
    </form>
    {{else}}
    <form class="text-center" action="/auth/login" method="GET">
      <button class="">Login</button>
    </form>
    <form class="text-center" action="/auth/signup" method="GET">
      <button class="">Signup</button>
    </form>
    {{/if}}
    {{> footer}}
  </div>

</div><!-- end slide menu-->