<div>
  <div id="theWeather" class="weather">
    <h2 class="title">Weather</h2>

    {{!-- <form class="weather-form" action="/profile/weather-details" method="POST"> --}}
    <form id="weather-form" class="weather-form" action="" method="POST">
      <input id="input-search" name="city" placeholder="Enter city name">
      <button type="submit">Enter</button>
    </form>

    {{!-- the weather info goes in here --}}
  </div>
  {{> footer}}
</div>