<div id="theWeather" class="weather">
  <h2 class="title">Weather</h2>

  <form id="weather-form" class="weather-form" action="" method="POST">
    <input id="input-search" class="form-control" type="text" placeholder="Enter city name...">
  </form>

  <div id="weather-response">
    {{!-- the weather info goes in here --}}
  </div>
  {{> footer}}
</div>