body {
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.main-container {
  margin-top: 50px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  padding-bottom: 5px;
  background-color: #333;
}

a {
  /* color: white; */
  color: #00b7ff;
  padding-right: 3px;
}
p {
  margin: 0;
}

.error-message {
  color: #f00;
  text-align: center;
}
.success-message {
  color: rgb(6, 172, 6);
}
.user-image {
  width: 100px;
  border-radius: 3px;
}
.users-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.image-details {
  width: 300px;
  height: 300px;
}
.row-items {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-wrap: wrap;
}
.user-box {
  padding: 15px;
  margin: 3px;
  text-align: center;
  overflow: hidden;
}
.post-image {
  width: 200px;
  height: 200px;
  max-width: 100%;
  transition: transform 0.5s ease;
}

/* profile page or hbs */
.column-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.profile-user-box {
  margin: 3px;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.profile-post-image {
  /* width: 200px; */
  /* height: 200px; */
  max-width: 100%;
  /* transition: transform 0.5s ease; */
}
.post-image:hover {
  transform: scale(1.2);
  cursor: zoom-in;
}
.author-info {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  padding: 5px 10px;
}

#main-profile {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  /* flex-wrap: wrap; */
}
.profile-boxes {
  /* width: 30%; */
}

.left-div {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 50px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  width: 15%;
  background-color: bisque;
}
.center-div {
  position: relative;
  left: 15.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 50vw;
  min-width: 125px;
  background-color: rgb(206, 235, 235);
}
.right-div {
  position: fixed;
  right: 0;
  left: 66%;
  top: 50px;
  bottom: 0;
  background-color: bisque;
  color: #333;
  padding: 15px;
  overflow: scroll;
}
@media (max-width: 750px) {
  .profile-boxes {
    /* width: 100%; */
  }
  .left-div {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    width: 30%;
    background-color: bisque;
  }
  .center-div {
    position: relative;
    left: 31%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 68vw;
    background-color: rgb(206, 235, 235);
  }
  .right-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 400px;
    z-index: 2;
    background-color: bisque;
    color: #333;
    padding: 15px;
    width: 25%;
    overflow: scroll;
  }
}
/* login and signup forms */
.form {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.form form {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  letter-spacing: 0.1rem;
  width: 100%;
  /* margin-bottom: 5px; */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}
form label {
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  /* margin-bottom: 2px; */
  padding: 3px;
}
input:focus {
  outline: 0;
  border-color: #00b7ff;
}
form button {
  font-size: 16px;
  width: 150px;
  cursor: pointer;
  background-color: #00b7ff;
  border-color: #00b7ff;
  color: #fff;
  margin-top: 5px;
}
.err-color {
  animation: color 0.5s ease-in forwards;
}
.err.form input::placeholder {
  color: red;
}

/* comments */
.comments {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #00b7ff;
}
.main-comments {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.comments div {
  display: flex;
}
.eachComment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: rgb(248, 245, 245);
}
.deleteDropDown {
  margin: 0;
}
.comments a {
  font-size: 16px;
}
