<form action="/posts/album/add-image?album_id={{album_id}}" method="POST" enctype="multipart/form-data">
  <input type="text" name="name">
  <input type="text" name="description">
  <input type="file" name="image">
  <button>Save</button>
</form>