<div class="albums-header">
  <h2>Albums collection</h2>
  <a href="/posts/create-album" class="btn btn-success">
    <i class="fas fa-folder-plus"></i>
  </a>
</div>
<div class="main-albums">
  <div class="album-folder text-center">
    <h5>Nature</h5>
    <img src="/images/album/nature-2.jpg" alt="">
    <img src="/images/album/nature-2.jpg" alt="">
    <img src="/images/album/nature-2.jpg" alt="">
    <img src="/images/album/nature-2.jpg" alt="">
    {{!-- positioned on top --}}
    <a href="/posts/album?album_id={{_id}}">
      <div class="fas fa-folder folder-icon"> </div>
    </a>
    {{!-- end folder positioned --}}
  </div>
  {{#each albums}}
  <div class="album-folder text-center">
    <h5>{{this.name}}</h5>
    <img src="/images/album/nature-2.jpg" alt="">
    <img src="/images/album/nature-2.jpg" alt="">
    <img src="/images/album/nature-2.jpg" alt="">
    <img src="/images/album/nature-2.jpg" alt="">
    {{!-- positioned on top --}}
    <a href="/posts/album?album_id={{_id}}">
      <div class="fas fa-folder folder-icon"> </div>
    </a>
    {{!-- end folder positioned --}}
  </div>
  {{/each}}
</div>