<div class="form m-auto">
  <form action="/posts/create-album" method="POST">
    <input style="width:200px;mt-4" type="text" name="name" placeholder="Name your album"><br>
    <button>Create</button>
  </form>
</div>