<div class="container mt-4">
  <form action="/posts/create-album" method="POST">
    <input style="width:200px;mt-4" type="text" name="name" placeholder="Name of album"><br>
    <button>Create</button>
  </form>
</div>