<div class="post-photo-form-main">
    <div class="post-photo-form">
        <form action="/posts/upload-photo" method="post" enctype="multipart/form-data">
            <h4 class="text-center">Publish your photos</h4>
            <input class="mb-0 mt-2" type="file" name="photo">
            <input class="mb-0 mt-2" type="text" name="picName" placeholder="name your picture">
            <textarea class="mb-0 mt-2" name="content" id="" rows="10" placeholder="Comments..."></textarea>
            <button>Save</button>
        </form>
    </div>
</div>